<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>
  <%=  link_to "Connect to Github", "/auth/github" %><br>
  <%=  link_to "Send an Invite", "/invite" %>
  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <h4>My Friends</h4>
  <section class="friends">
    <ul>
      <% current_user.user_friends.each do |friend| %>
        <li><%= friend.first_name  %> <%= friend.last_name %></li>
      <% end %>
    </ul>
  </section>
  <% if current_user.token != nil %>
    <h3>GitHub</h3>
    <% if @github.display_github_data('repos') != nil %>
      <section class="repos">
        <ul>
          <% @github.display_github_data('repos').each do |repo| %>
            <li><%= link_to repo.name.upcase, repo.url %></li>
          <% end %>
        </ul>
      </section>
    <% end %>
    <% if @github.display_github_data('followers') != nil %>
    <section class="followers">
      <h4>Followers</h4>
      <ul>
        <% @github.display_github_data('followers').each do |follow| %>
          <li id=<%=follow.name%>><%= link_to follow.name, follow.url %>
            <% if follow.database_match(current_user, follow.name) %>
              <%= button_to "Add as Friend", "/friend", params: { user_id: current_user, user_friend_id: follow.database_match(current_user, follow.name) }, method: :post%>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
    <% end %>
    <% if @github.display_github_data('following') != nil %>
    <section class="following">
      <h4>Following</h4>
      <ul>
        <% @github.display_github_data('following').each do |follow| %>
          <li id=<%=follow.name%>><%= link_to follow.name, follow.url %>
            <% if follow.database_match(current_user, follow.name) %>
              <%= button_to "Add as Friend", "/friend", params: { user_id: current_user, user_friend_id: follow.database_match(current_user, follow.name) }, method: :post%>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
    <% end %>
  <% end %>

  <section>
    <h1>Bookmarked Segments</h1>
  </section>
</section>
