<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <% if current_user.token != nil %>
    <h3>GitHub</h3>
    <% if display_repos != nil %>
      <section class="repos">
        <ul>
          <% display_repos.first(5).each do |repo| %>
            <li><%= link_to repo.name.upcase, repo.url %></li>
          <% end %>
        </ul>
      </section>
    <% end %>
    <% if display_follow("followers") != nil %>
    <section class="followers">
      <h4>Followers</h4>
      <ul>
        <% display_follow("followers").each do |follow| %>
          <li><%= link_to follow.name, follow.url %></li>
        <% end %>
      </ul>
    </section>
    <% end %>
    <% if display_follow("following") != nil %>
    <section class="following">
      <h4>Following</h4>
      <ul>
        <% display_follow("following").each do |follow| %>
          <li><%= link_to follow.name, follow.url %></li>
        <% end %>
      </ul>
    </section>
    <% end %>
  <% end %>

  <section>
    <h1>Bookmarked Segments</h1>
  </section>
</section>
